/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkingCursor {
  0%, 49% { border-right-color: rgba(255,255,255,.75); }
  50%, 100% { border-right-color: transparent; }
}

@keyframes hideCursor {
  from { border-right-color: transparent; }
  to { border-right-color: transparent; }
}

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
/* Typewriter Animation for h1 */
h1 {
  animation: 
    typewriter 3s steps(50) 0s 1 normal both, 
    blinkingCursor 500ms steps(50) 3s 1 normal both,
    hideCursor 0s steps(1) 3.5s 1 normal forwards;
  width: fit-content;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  overflow: hidden;
  white-space: nowrap;
}

/* Typewriter Animation for p */
p {
  border-right: 2px solid rgba(255,255,255,.75);
  overflow: hidden;
  white-space: nowrap;
}

p:nth-of-type(1) {
  animation: 
    typewriter 3s steps(50) 3.5s 1 normal both, 
    blinkingCursor 500ms steps(50) 6.5s 1 normal both,
    hideCursor 0s steps(1) 7s 1 normal forwards;
  width: fit-content;
}

p:nth-of-type(2) {
  animation: 
    typewriter 3s steps(50) 7s 1 normal both, 
    blinkingCursor 500ms steps(50) 10s 1 normal both,
    hideCursor 0s steps(1) 10.5s 1 normal forwards;
  width: fit-content;
}

p:nth-of-type(3) {
  animation: 
    typewriter 3s steps(50) 10.5s 1 normal both, 
    blinkingCursor 500ms steps(50) 13.5s 1 normal both,
    hideCursor 0s steps(1) 14s 1 normal forwards;
  width: fit-content;
}

p:nth-of-type(4) {
  animation: 
    typewriter 3s steps(50) 14s 1 normal both, 
    blinkingCursor 500ms steps(50) 17s 1 normal both,
    hideCursor 0s steps(1) 17.5s 1 normal forwards;
  width: fit-content;
}

p:nth-of-type(5) {
  animation: 
    typewriter 3s steps(50) 17.5s 1 normal both, 
    blinkingCursor 500ms steps(50) 20.5s 1 normal both,
    hideCursor 0s steps(1) 21s 1 normal forwards;
  width: fit-content;
}

p:nth-of-type(6) {
  animation: 
    typewriter 3s steps(50) 21s 1 normal both, 
    blinkingCursor 500ms steps(50) 24s 1 normal both,
    hideCursor 0s steps(1) 24.5s 1 normal forwards;
  width: fit-content;
}

/* Global */
body { 
  margin-top: 4em; 
  padding: 5em; 
  color: black; 
  font-family: 'Anonymous Pro', monospace;
  background-color: #ced1f8;
; 
}
